#game {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: #ffe4e6;
  overflow: hidden;
  border: 2px solid #ff69b4;
  margin: 50px auto;
  border-radius: 20px;
}

#player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: #ff69b4;
  border-radius: 10px;
}

#obstacle {
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 30px;
  height: 50px;
  background-color: #ff1493;
  border-radius: 5px;
}

#score {
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  color: #ff1493;
  font-weight: bold;
}
